<component name="ArtifactManager">
  <artifact type="war" name="spring_test_service_rmi:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_test_service_rmi.war">
      <element id="artifact" artifact-name="spring_test_service_rmi:war exploded" />
    </root>
  </artifact>
</component>